body {
    background-color: wheat;
}

.navbar-brand {
    background-color: teal;
    padding: 1%;
}

.card {
    border: slategray;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 15pt;
}

.card-title {
    background-color: teal;

}
